html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body *{
    font-family:'Times New Roman', Times, serif
}

#title{
    font-family:Arial, Helvetica, sans-serif;
}

h1{
    font-size: 130px;
    margin-top:0px;
    font-family: 'Times New Roman', Times, serif;
    font-weight:lighter;
    line-height:2.9cm;
    text-align: left;
    color: white;
}

p{
    font-size:larger;
    padding: 5%;
}

.description h1{
    font-size: 130px;
    margin-top:0px;
    font-family: 'Times New Roman', Times, serif;
    font-weight:lighter;
    line-height:2.9cm;
    text-align: left;
    color: white;
}

.description h3{
    font-family: 'Times New Roman', Times, serif;
    font-size:50px;
    margin-bottom: 0px;
    font-weight: lighter;
}

.description p{
    font-family: 'Times New Roman', Times, serif;
    font-size:larger;
    padding: 5%;
}

.description description-left{
    margin:auto;
}

/* tr{
    padding-left: 50%
} */